<h6>
    Subscribe for updates
</h6>
<div class="footer-mail-form">
    <form 
        action="https://tinyletter.com/eigerli" 
        method="post" 
        target="popupwindow" 
        onsubmit=
            "window.open('https://tinyletter.com/eigerli', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">

            <input 
                type="text" 
                style="width:140px" 
                name="email" 
                id="tlemail" />
            <input type="hidden" value="1" name="embed"/>
            <input type="submit" value="Subscribe" />
            <a href="https://tinyletter.com" target="_blank">
                powered by TinyLetter
            </a>
    </form>
</div>
        