<h6>
    Subscribe for updates
</h6>
<div class="footer-mail-form">
    <form 
        id="newsletter-form"
        class="form"
        action="https://tinyletter.com/eigerli" 
        method="post" 
        target="popupwindow" 
        onsubmit=
            "
                document.getElementById('newsletter-form').reset();
                window.open('https://tinyletter.com/eigerli', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true
            ">

            <input 
                class="footer-text-field"
                type="text"  
                name="email" 
                id="tlemail" />
            <input 
                type="hidden" value="1" name="embed"/>
            <input 
                class="footer-submit-btn"
                type="submit" value="Subscribe" />
            </a>
    </form>
</div>
        